^<div class="sidebar-wrapper">
  <div class="logo">
    <a href="http://angulararchitects.io" class="simple-text logo-mini">
      <div class="logo-image-small">
        <img src="assets/paper-design/angular_gradient.png" />
      </div>
    </a>
    <a href="http://angulararchitects.io" class="simple-text logo-normal">
      Flights 42
    </a>
  </div>

  <ul class="nav">
    <li routerLinkActive="active">
      <a routerLink="home">
        <i class="icon icon-home"></i>
        <p>Home</p>
      </a>
    </li>

    <li routerLinkActive="active">
      <a routerLink="booking/flight">
        <i class="icon icon-flight"></i>
        <p>Flights</p>
      </a>
    </li>

    <li routerLinkActive="active">
      <a>
        <i class="icon icon-passenger"></i>
        <p>Passengers</p>
      </a>
    </li>

    <li routerLinkActive="active">
      <a routerLink="about">
        <i class="icon icon-about"></i>
        <p>About</p>
      </a>
    </li>

    <li>
      <a>
        <i class="icon icon-cart"></i>
        <p>Basket</p>
      </a>
    </li>

    <li>
      <a>
        <i class="icon icon-close"></i>
        <p>Hide Basket</p>
      </a>
    </li>
  </ul>
</div>
